<div *ngIf="photo" class="row border p-2 mt-1">
    <div class="col-12 col-md-3 mb-3 text-center">
        <ng-container *ngIf="src$|async as src">
            <img [src]="src|safe:'resourceUrl'" [style.height.px]="100" class="img-thumbnail" loading="lazy">
        </ng-container>
    </div>
    
    <div class="col-12 col-md-9">
        <table class="table table-borderless">
            <tr *ngFor="let basketItem of basketItems">
                <td class="p-1 align-middle" [style.width.%]="33">{{basketItem.product.name}}</td>
                <td class="p-1 align-middle text-center">
                    {{basketItem.amount}}
                </td>
                <td class="p-1 align-middle text-left" [style.width.%]="33">{{basketItem.price*basketItem.amount  | currency:'':''}}zł</td>
            </tr>
        </table>
    </div>
</div>
