<ng-container *ngIf="mockPayment; else notMock">
    <h1>Płatności online - MOCK</h1>
    <h3>Właśnie dokonujesz płatności...</h3>
</ng-container>
<ng-template #notMock>
    <ng-container *ngIf="order">
        <h1>Potwierdzenie przyjęcia zamówienia nr {{order.orderNumber}}</h1>
        <p>Status zamówienia: <b>{{order.status}}</b></p>
        <p>Potwierdzenie zamówienia zostało wysłane na adres e-mail: <b>{{order.email}}</b></p>
        <p *ngIf="order.deliveryMethod">Sposób odbioru zamówienia: <b>{{order.deliveryMethod.content}}</b></p>
        <ng-container *ngIf="order.paymentMethod">
            <p>Sposób płatności: <b>{{order.paymentMethod.content}}</b></p>
        </ng-container>
        <ng-container *ngIf="order.payment">
            <p *ngIf="order.payment.status">Status płatności:
                <b>
                    <order-payment *ngIf="order.payment.isProgress && active" (endProgres)="endProgress($event)" [order]="order"></order-payment>
                    <span *ngIf="!order.payment.isProgress">{{order.payment.status}}</span>
                </b>
            </p>
            <button *ngIf="order.payment.canStartNewPayment" class="btn btn-primary" (click)="onOrderPay(order)">Opłać zamówienie</button>
            <p *ngIf="order.payment.description" [innerHTML]="order.payment.description"></p>
        </ng-container>
        <div *ngFor="let event of events">
            <order-element-list [event]="event" [basketItems]="order.items"></order-element-list>
        </div>
    </ng-container>
</ng-template>