openapi: 3.0.0
info:
  title: Sklep MK
  description: Sklep MK
  version: 1.0.0
servers:
  - url: http://api.mk.pl/v1
components:
  schemas:
    Api:
      type: "object"
      properties:
        item:
          type: "object"
        bussinesLogic:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiBussinesLogic"
    ApiBussinesLogic:
      type: "object"
      properties:
        errors:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiError"
    ApiError:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
    ApiList:
      type: "object"
      properties:
        items:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Banner"
            - $ref: "#/components/schemas/BasketItem"
            - $ref: "#/components/schemas/Event"
            - $ref: "#/components/schemas/Offer"
            - $ref: "#/components/schemas/Order"
            - $ref: "#/components/schemas/OrderAgreement"
            - $ref: "#/components/schemas/OrderDefinition"
            - $ref: "#/components/schemas/OrderLabel"
            - $ref: "#/components/schemas/OrderPaymentMethod"
            - $ref: "#/components/schemas/Photo"
            - $ref: "#/components/schemas/Product"
            - $ref: "#/components/schemas/User"
        total:
          type: "number"
        bussinesLogic:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiBussinesLogic"
    Banner:
      type: "object"
      required:
      - "idBanner"
      - "name"
      - "imgUrl"
      - "backgroundColor"
      properties:
        idBanner:
          type: "string"
        name:
          type: "string"
        imgUrl:
          type: "string"
        url:
          type: "string"
        backgroundColor:
          type: "string"
    BasketItem:
      type: "object"
      required:
      - "amount"
      - "price"
      - "photo"
      - "product"
      - "event"
      properties:
        amount:
          type: "number"
        price:
          type: "number"
        photo:
          $ref: "#/components/schemas/Photo"
        product:
          $ref: "#/components/schemas/Product"
        event:
          $ref: "#/components/schemas/Event"
    Event:
      type: "object"
      required:
      - "idEvent"
      - "name"
      - "titlePhotoUrl"
      - "description"
      properties:
        idEvent:
          type: "number"
        name:
          type: "number"
        titlePhotoUrl:
          type: "string"
        description:
          type: string
    Offer:
      type: "object"
      required:
      - "idOffer"
      - "name"
      properties:
        idOffer:
          type: "number"
        name:
          type: "number"
        products:
          type: "array"
          items:
            $ref: "#/components/schemas/Product"
    Order:
      type: "object"
      required:
      - "firstname"
      - "lastname"
      - "phone"
      - "email"
      - "comment"
      - "agreements"
      - "paymentMethod"
      - "items"
      properties:
        idOrder:
          type: "string"
        status:
          type: "boolean"
        isPaid:
          type: "string"
        firstname:
          type: "string"
        lastname:
          type: "string"
        phone:
          type: "string"
        email:
          type: "string"
        comment:
          type: "string"
        agreements:
          type: "array"
          items:
            $ref: "#/components/schemas/OrderAgreement"
        paymentMethod:
            $ref: "#/components/schemas/OrderPaymentMethod"
        deliveryMethod:
            $ref: "#/components/schemas/OrderDeliveryMethod"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/BasketItem" 
    OrderAgreement:
      type: "object"
      required:
      - "idOrderAgreement"
      - "name"
      - "accepted"
      - "required"
      properties:
        idOrderAgreement:
          type: "string"
        content:
          type: "string"
        accepted:
          type: "boolean"
        required:
          type: "boolean"
    OrderDefinition:
      type: "object"
      required:
      - "labels"
      - "agreements"
      properties:
        firstname:
          type: "string"
        lastname:
          type: "string"
        phone:
          type: "string"
        email:
          type: "string"
        emailConfirm:
          type: "string"
        comment:
          type: "string"
        labels:
          $ref: "#/components/schemas/OrderLabel"
        agreements:
          type: "array"
          items:
            $ref: "#/components/schemas/OrderAgreement"
        paymentMethods:
          type: "array"
          items:
            $ref: "#/components/schemas/OrderPaymentMethod"
        deliveryMethods:
          type: "array"
          items:
            $ref: "#/components/schemas/OrderDeliveryMethod"
    OrderLabel:
      type: "object"
      required:
      - "idOrderLabel"
      - "firstnameLabel"
      - "lastnameLabel"
      - "phoneLabel"
      - "emailLabel"
      - "emailConfirmLabel"
      - "commentLabel"
      properties:
        idOrderLabel:
          type: "string"
        firstnameLabel:
          type: "string"
        lastnameLabel:
          type: "string"
        phoneLabel:
          type: "string"
        emailLabel:
          type: "string"
        emailConfirmLabel:
          type: "string"
        commentLabel:
          type: "string"
        paymentMethodLabel:
          type: "string"
        orderMethodLabel:
          type: "string"
    OrderPaymentMethod:
      type: "object"
      required:
      - "idOrderPaymentMethod"
      - "content"
      properties:
        idOrderPaymentMethod:
          type: "string"
        content:
          type: "string"
        url:
          type: "string"
    OrderDeliveryMethod:
      type: "object"
      required:
      - "idOrderDeliveryMethod"
      - "content"
      properties:
        idOrderDeliveryMethod:
          type: "string"
        content:
          type: "string"
    OrderPaymentStatus:
      type: "object"
      required:
      - "idOrder"
      - "isProgress"
      - "status"
      properties:
        idOrder:
          type: "string"
        isProgress:
          type: "boolean"
        status:
          type: "string"    
    Photo:
      type: "object"
      required:
      - "idPhoto"
      - "url"
      - "idEvent"
      - "name"
      properties:
        idPhoto:
          type: "string"
        url:
          type: "string"
        idEvent:
          type: "string"
        name:
          type: "string"
    Product:
      type: "object"
      required:
      - "idProduct"
      - "name"
      - "price"
      properties:
        idProduct:
          type: "string"
        name:
          type: "string"
        price:
          type: "number"
        amount:
          type: "number"
    User:
      type: object
      required:
        - "login"
      properties:
        login:
          type: "string"
        password:
          type: "string"
    Token:
      type: object
      required:
        - "token"
      properties:
        token:
          type: "string"    
  responses:
    OK:
      description: "OK"
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Api'
              - $ref: '#/components/schemas/ApiList'
    BadRequest:
      description: "Bad Request"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    Unauthorized:
      description: "Unauthorized"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: "Not Found"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  parameters:
    SortBy:
      name: sort_by
      in: query
      required: true
      schema:
        type: string
    Order:
      name: order
      in: query
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: true
      schema:
        type: string
    Page:
      name: page
      in: query
      required: true
      schema:
        type: string
    Filters:
      name: filters
      in: query
      required: true
      schema:
        type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /banner/list:
    get:
      tags:
        - Banner
      parameters:
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/SortBy'
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Banner"
                  total:
                    type: "number"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /event/{idEvent}:
    get:
      tags:
        - Event
      security:
        - bearerAuth: []
      parameters:
        - name: idEvent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: "object"
                    $ref: "#/components/schemas/Event"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400': 
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /event/list:
    get:
      tags:
        - Event
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/SortBy'
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Event"
                  total:
                    type: "number"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /photo/list:
    get:
      tags:
        - Photo
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/SortBy'
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Photo"
                  total:
                    type: "number"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /offer/list:
    get:
      tags:
        - Offer
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/SortBy'
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Offer"
                  total:
                    type: "number"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /order-definition:
    get:
      tags:
        - OrderDefinition
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: "object"
                    $ref: "#/components/schemas/OrderDefinition"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400': 
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /order:
    post:
      tags:
        - Order
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: "object"
                    $ref: "#/components/schemas/Order"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400': 
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /order/{idOrder}:
    get:
      tags:
        - Order
      security:
        - bearerAuth: []
      parameters:
        - name: idOrder
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: "object"
                    $ref: "#/components/schemas/Order"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400': 
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /order-payment-status/{idOrder}:
    post:
      tags:
        - OrderPaymentStatus
      security:
        - bearerAuth: []
      parameters:
        - name: idOrder
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: "object"
                    $ref: "#/components/schemas/Order"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400': 
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/login:
    post:
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: "object"
                    $ref: "#/components/schemas/Token"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/logout:
    get:
      tags:
        - User
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user:
    get:
      tags:
        - User
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: "object"
                    $ref: "#/components/schemas/User"
                  bussinesLogic:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ApiBussinesLogic"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
