<accordion-group>
    <div *ngIf="order" accordion-heading (click)="active = !active">
        <div class="row text-white">
            <div class="col-12 col-md-6">
                <div class="p-0 m-0">Nr zamówienia: {{ order.orderNumber }}</div>
                <div>Status: {{order.status}}</div>
            </div>
            <div class="col-12 col-md-6 text-right">
                <div class="p-0 m-0 font-size-0-7">{{order.orderDate | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                <div class="mt-2" *ngIf="order.isPaid">Zapłacono</div>
            </div>
        </div>
    </div>
    <order-item [order]="order"></order-item>
</accordion-group>
