cookie-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 3;
}
.alert {
    margin-bottom: 0px!important;
    background: #333;
    color: white;
    border: none;
    border-radius: 0;
    text-align: center;
}
.alert a{
    color: white;
    text-decoration: underline;
}
.close span {
    color: silver;
    border: none;
}