<table *ngIf="products" class="table p-0 m-0">
    <tr>
        <th class="border-0">Produkt</th>
        <th class="border-0">Cena</th>
        <th class="border-0">Ilość</th>
    </tr>
    <tr *ngFor="let product of products">
        <td class="align-middle" [innerHTML]="product.name"></td>
        <td class="align-middle" [innerHTML]="product.price | currency:'':''"></td>
        <td class="align-middle">
            <number-of-items (plusClicked)="onChangeAmount(product,$event)"
                (minusClicked)="onChangeAmount(product,$event)"></number-of-items>
        </td>
    </tr>
</table>