<div *ngIf="isView" class="modal fade" bsModal #staticModal [config]="{backdrop: 'static', show: 'true'}"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="row text-white lead">
            <div class="col-lg-6 bg-danger text-right p-5">
                <h2>Do you want to read on?</h2>
                <h2>Unblock ad serving.</h2>
                <p>It is thanks to advertising that we can provide you with high-quality articles</p>
                <h4>Switch off AdBlock</h4>
                <p>We do not broadcast bothersome advertisements</p>
            </div>
            <div class="col-lg-6 bg-dark p-5">
                <div class="row m-3">
                    <div class="col-4">
                        <img class="img-fluid" src="assets/icons/cancel.svg" />
                    </div>
                    <div class="col-8">
                        <p class="mt-3">1. Switch off Adblock</p>
                    </div>
                </div>

                <div class="row m-3 mt-5">
                    <div class="col-4">
                        <img class="img-fluid" src="assets/icons/refresh.svg" />
                    </div>
                    <div class="col-8">
                        <p class="mt-3">2. Refresh page</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
