body, html {
    height: 100%;
}
.modal {
    background: url('/assets/images/login-page.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.modal-content {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-style: none;
    box-shadow: none;
}
.modal-dialog {
    margin: 5%;
    margin-top: 13%;
    opacity: 0.9;

   
}
.modal-body {
    font-size: 12px;
    opacity: 1;
}
.modal-body p {
    margin-bottom: 20px;
}      
.modal-title {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    opacity: 1;
}
.checkbox-label {
    font-size: 12px;
    font-weight: normal;
    text-indent: 0px;
}
.checkbox-sign {
    float: left;
    width: 10%;
}
.checkbox-label {
    float: left ;
    width: 80%;
}
.checkbox-label a {
    color: #0272ce;
}
button {
    margin-top: 10px;
    color: black;
    width: 100px;
}
.btn-next {
    border: none;
    background-color: green;
    color: white;
}
@media (max-width: 599px) {
    .modal-dialog {
        width: 90%;
    }
}
@media (min-width: 600px) {
    .modal-dialog {
        width: 350px;
    }
}