<div class="modal-confirm-page">
  <div [config]="config" bsModal #confirmModal="bs-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <p id="dialog-auto-name" class="modal-title">Zanim przejdziesz dalej</p>
          <p>zapoznaj się z warunkami funkcjonowania serwisu Nadaj Przesyłkę, jak również z informacjami dotyczącymi ochrony danych osobowych.</p>
          <p>Pamiętaj, że akceptacja Zasad korzystania z serwisu "Nadaj Przesyłkę" jest niezbędna w celu aktywowania pól formularza.</p>

          <div class="checkbox">
              <div class="checkbox-sign"></div>
              <div class="checkbox-label">
                <span>Akceptuję </span>
                <a target="_blank" href="assets/zasady-korzystania-z-serwisu-nadaj-przesylke.pdf?20201022">Zasady korzystania z serwisu "Nadaj Przesyłkę"</a>
              </div>
          </div>
          
          <button type="button" class="btn" aria-label="Reject" (click)="reject()">
            <span aria-hidden="true">Rezygnuję</span> 
          </button>

          <button type="button" class="btn btn-next pull-right" aria-label="Accept" (click)="confirm()" [disabled]="!isEnabled">
            <span aria-hidden="true">Dalej</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>