<h3>Podsumowanie: </h3>
<div *ngIf="(basketSumAmount$ | async) as amount">Ilość: <span class="font-weight-bold">{{ amount }}</span> szt.</div>
<div *ngIf="(basketSumPrice$ | async) as sum">Do zapłaty: <span class="font-weight-bold">{{sum | currency:'':''}}</span> zł</div>
<form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" autocomplete="off" class="mt-4">
    
    <div class="form-group">
      <label>Imię:</label>
      <input type="text" class="form-control" name="firstname" [(ngModel)]="order.firstname" #firstname="ngModel"
        [class.is-invalid]="firstname.invalid && firstname.touched" minlength="2" maxlength="30" pattern='[a-zA-ZĄąĆćĘęŁłŃńÓóŚśŹźŻż\s."]*'
        required>
      <div *ngIf="firstname.touched && firstname.invalid" class="text-danger">
        <div *ngIf="!!firstname.errors.required">Imię jest wymagane</div>
        <div *ngIf="!!firstname.errors.minlength">Imię jest za krótkie</div>
        <div *ngIf="!!firstname.errors.maxlength">Imię jest za długie</div>
        <div *ngIf="!!firstname.errors.pattern">W imieniu możesz używać tylko liter</div>
      </div>
    </div>

    <div class="form-group">
      <label>Nazwisko:</label>
      <input type="text" class="form-control" name="lastname" [(ngModel)]="order.lastname" #lastname="ngModel"
        [class.is-invalid]="lastname.invalid && lastname.touched" minlength="2" maxlength="30" pattern='[a-zA-ZĄąĆćĘęŁłŃńÓóŚśŹźŻż\s."-]*'
        required>
      <div *ngIf="lastname.touched && lastname.invalid" class="text-danger">
        <div *ngIf="!!lastname.errors.required">Nazwisko jest wymagane</div>
        <div *ngIf="!!lastname.errors.minlength">Nazwisko jest za krótkie</div>
        <div *ngIf="!!lastname.errors.maxlength">Nazwisko jest za długie</div>
        <div *ngIf="!!lastname.errors.pattern">W nazwisku możesz używać tylko liter i myślnika</div>
      </div>
    </div>

    <!-- <p>Form status: {{ f.status }}</p>
    <p>Form value: {{ f.value | json }}</p> -->
  
    <p class="btn-group">
        <button class="btn btn-primary btn-lg" routerLink="/basket">Wróć</button>
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!f.valid">Zamawiam z obowiązkiem zapłaty</button>
    </p>
  </form>
