<body class="h-100 d-flex flex-column">
    <!-- NAVIGATION -->
    <nav id="banner">
        <banner-widget [class]="'d-block mx-auto img-fluid'" [name]="bannerName"></banner-widget>        
    </nav>
    <nav id="home" class="navbar navbar-expand-md navbar-light bg-white sticky-top border-bottom">
        <div class="container-xl">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed" >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div [collapse]=isCollapsed class="navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="event" routerLinkActive="active underline">Wydarzenia</a>
                    </li>
                    <ng-container *ngIf="user != null">
                        <li class="nav-item" *ngIf="user?.isIndividual">
                            <a class="nav-link" routerLink="order" routerLinkActive="active underline">Moje zamówienia</a>
                        </li>
                    </ng-container>
                    <li class="nav-item">
                        <a class="nav-link" [href]="'http://' + environments.host + '/kontakt/'">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [href]="'http://' + environments.host + '/blog/'">Blog</a>
                    </li>
                </ul>
            </div>

            <ng-container *ngIf="(userService.currentUser | async) as currentUser">
                <div class="pr-3 text-dark hand no-outline" [routerLink]="'/basket'">
                    <basket-widget></basket-widget>
                </div>
                <button class="btn btn-outline-primary" type="button" (click)="onLogOut()">
                    <ng-container *ngIf="currentUser.firstName && currentUser.lastName;else loginBlock">
                        {{currentUser.firstName}} {{currentUser.lastName}}
                    </ng-container>
                    <ng-template #loginBlock>
                        {{currentUser.login}}
                    </ng-template>
                    <br />
                    <span class="font-weight-light">Wyloguj</span>
                </button>
            </ng-container>
        </div>
    </nav>

    <main class="container pt-4 position-relative flex-grow-1">
        <app-messages></app-messages>
        <router-outlet></router-outlet>
        <scroll-to-top></scroll-to-top>
    </main> 
    <!-- FOOTER -->
    <footer [class.d-none]="!init">
        <div class="bg-dark text-light">
            <div class="container-xl">
                <div class="row p-3 text-center">
                    <div class="col-md-8 text-md-left">
                        <a class="text-light text-decoration-none" [href]="'http://' + environments.host">Wydarzenia</a> | 
                        <a class="text-light text-decoration-none" [href]="'http://' + environments.host + '/kontakt/'">Kontakt</a> |
                        <a class="text-light text-decoration-none" [href]="'http://' + environments.host + '/blog/'">Blog</a> |
                        <a class="text-light text-decoration-none" [href]="'http://sklep.' + environments.host + '/resource/sklep.regulamin.pdf'">Regulamin</a> |
                        <a class="text-light text-decoration-none" [href]="'http://sklep.' + environments.host + '/resource/sklep.polityka.prywatnosci.pdf'">Polityka prywatności</a>
                    </div>
                    <div class="col-md-4 text-md-right">
                        <a class="text-light text-decoration-none" [href]="'mailto:' + environments.email">Copyright © {{environments.host}} {{environments.version}}</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<cookie-bar></cookie-bar>