<body class="h-100 d-flex flex-column">
    <!-- NAVIGATION -->
    <nav id="home" class="navbar navbar-expand-md navbar-light bg-white sticky-top shadow">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="event"><img src="assets/images/logo.jpg" width="100"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-content"
            (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div [class.collapse]="isCollapsed" class="navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto font-weight-bold">
                    <li class="nav-item">
                        <a class="nav-link" [href]="'http://' + environments.host">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [href]="'http://' + environments.host + '/kontakt/'">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [href]="'http://' + environments.host + '/blog/'">Blog</a>
                    </li>
                </ul>
                <ng-container *ngIf="(authService.currentUser | async) as currentUser">
                    <div class="navbar-nav pr-3 text-dark">{{currentUser.login}}</div> 
                    <div class="navbar-nav pr-3 text-dark hand no-outline" [routerLink]="'/basket'"><basket-widget></basket-widget></div>
                    <button *ngIf="currentUser" class="btn btn-outline-primary mr-2" type="button" (click)="onLogOut()">Wyloguj</button>
                </ng-container>
            </div>
        </div>
    </nav>

    <main class="container px-0 pt-4 position-relative flex-grow-1">
        <app-messages></app-messages>
        <router-outlet></router-outlet>
        <scroll-to-top></scroll-to-top>
    </main> 
    <!-- FOOTER -->
    <footer [class.d-none]="!init">
        <div class="container-fluid bg-dark text-light">
            <div class="row p-3 text-center">
                <div class="col-md-8 text-md-left">
                    <a class="text-light text-decoration-none" [href]="'http://sklep.' + environments.host + '/resource/sklep.regulamin.pdf'">Regulamin</a> |
                    <a class="text-light text-decoration-none" [href]="'http://sklep.' + environments.host + '/resource/sklep.polityka.prywatnosci.pdf'">Polityka prywatności</a>
                </div>
                <div class="col-md-4 text-md-right">
                    <a class="text-light text-decoration-none" [href]="'mailto:' + environments.email">Copyright © {{environments.host}} 2020</a>
                </div>
            </div>
        </div>
    </footer>
</body>