<div class="position-relative mt-5 fixed-top">
  <div class="col-10 col-sm-8 col-md-6 mx-auto bg-white rounded shadow pt-5 px-5 pb-3">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">

      <div *ngIf="error" class="alert alert-danger" role="alert" [innerHTML]="error"></div>
      
      <!-- LOGIN -->
      <input type="text" class="form-control" name="login" [(ngModel)]="model.login" #login="ngModel"
        [class.is-invalid]="login.invalid && login.touched" placeholder="Login" minlength="3" maxlength="25"
        required focus>
      <div *ngIf="login.touched && login.invalid" class="text-danger">
        <div *ngIf="!!login.errors.required">Login jest wymagany</div>
        <div *ngIf="!!login.errors.minlength">Login jest za krótki</div>
        <div *ngIf="!!login.errors.maxlength">Login jest za długi</div>
        <div *ngIf="!!login.errors.pattern">W loginie powinno się używać tylko liter i cyfr</div>
      </div>

      <!-- PASSWORD -->
      <input type="password" class="form-control mt-1" name="password" [(ngModel)]="model.password" #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched" placeholder="Hasło" minlength="3" maxlength="25"
        required>
      <div *ngIf="password.touched && password.invalid" class="text-danger">
        <div *ngIf="!!password.errors.required">Hasło jest wymagane</div>
        <div *ngIf="!!password.errors.minlength">Hasło jest za krótkie</div>
        <div *ngIf="!!password.errors.maxlength">Hasło jest za długie</div>
      </div>

      <!-- BUTTONS -->
      <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" [disabled]="!f.valid">Zaloguj</button>
    </form>

    <p class="text-right text-mute m-0">{{environments.host}} {{environments.version}}</p>
  </div>
</div>