<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static', show: 'true'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name" *ngIf="active">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">
                    <ng-content select=".header"></ng-content>
                </h4>
                <button *ngIf="close" type="button" class="close pull-right" aria-label="Close" (click)="onClick(staticModal)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-content select=".body"></ng-content>
            </div>
        </div>
    </div>
</div>