html {
    overflow-y: scroll;
}

body {
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.h1, h1 {
    font-size: 2rem
}

.h2, h2 {
    font-size: 1.5rem
}

.h3, h3 {
    font-size: 1rem
}

.h4, h4 {
    font-size: 0.75rem
}

.font-size-1 {
    font-size: 1rem
}

.font-size-0-9 {
    font-size: 0.9rem
}

.font-size-0-8 {
    font-size: 0.8rem
}

.font-size-0-7 {
    font-size: 0.7rem
}

.font-size-0-6 {
    font-size: 0.6rem
}

.btn-primary {
    background-color: #63C6AE!important;
    border-color: #63C6AE!important;
    color: white!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #459e87!important;
    color: white!important;
}

.btn-outline-primary {
    border-color: #63C6AE!important;
    color: #63C6AE!important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
    background-color: white;
    border-color: #459e87!important;
    color: #459e87!important;
}

.list-group-item {
    border-color: #63C6AE!important;
    color: #343a40!important
}

.list-group-item:hover, .list-group-item:focus {
    background-color: white;
    border-color: #459e87!important;
    color: #343a40!important;
    outline: none;
}

.list-group-item.active {
    background-color: #63C6AE!important;
    color: white!important
}

.panel-heading {
    background-color: #63C6AE!important
}

.hand {
    cursor: pointer;
}

.underline {
    text-decoration: underline!important;
}

.border-black {
    border-color: black;
}

.sticky-20 {
    position: sticky;
    top: 20px;
}

.sticky-100 {
    position: sticky;
    top: 100px;
}

.no-outline {
    outline: none;
}

.background-transparent {
    background-color: rgb(0, 0, 0, 0.1);
}

offer-list .card {
    color: #2c2c2c!important;
    margin-bottom: 1px;
    font-size: 10px;
}

offer-list .card-body {
    padding: 0;
}

offer-list .card-header {
    border: 0;
}

offer-list .card icon-b {
    margin-top: 5px;
    margin-right: 5px;
}

offer-list .btn-link, offer-list .btn-link:hover, offer-list .btn-link:focus {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

offer-list .panel-heading {
    background-color: #63C6AE!important;
    color: white;
    padding: 5px;
}

offer-list td, offer-list th {
    padding: 0.2rem!important;
}

basket-widget icon-b, basket-widget span {
    display: block;
    text-align: center;
}

basket-widget .badge {
    position: relative;
    top: 10px;
    margin-left: 35px;
}

label a, label a:hover, label a:focus, label a:active {
    color: #848689!important;
    text-decoration: underline;
}