<basket-event 
*ngFor="let event of events$ | async" 
[event]="event" 
[basketItems]="basketItems$ | async" 
[attr.class]="'d-block mb-3'"
(basketItemDeleted)="onBasketItemDelete($event)">
</basket-event>

<h3>Podsumowanie</h3>
<div class="row mb-4" *ngIf="(basketSummary$ | async) as summary">
    <div class="col-6" *ngIf="summary.sumAmount>0; else emptyTemplate">
        <div *ngIf="summary.sumAmount">Ilość: <span class="font-weight-bold">{{ summary.sumAmount }}</span> szt.</div>
        <div *ngIf="summary.sumPrice">Do zapłaty: <span class="font-weight-bold">{{summary.sumPrice | currency:'':''}}</span> zł</div>
    </div>
    <div class="col-6" *ngIf="summary.sumAmount>0">
        <button class="btn btn-primary btn-lg float-right" [routerLink]="'/order'">Dalej</button>
    </div>
    <ng-template #emptyTemplate>
        <div class="col-12">
            <p>Brak produktów w koszyku</p>
            <button class="btn btn-primary mt-3" [routerLink]="'../'">Cofnij</button>
        </div>
    </ng-template>
</div>
